/*   ***DOCUMENT***   */

html {
    background: linear-gradient(90deg,#C9D6FF,#E2E2E2);
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
html, body {
    margin: 0px;
    padding: 0px;
}

/*   ***HEADER*** */

header {
    background-color: lightcoral;
    margin: 10px;
    height: 6.5vh;
}

.innerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60vw;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: lightcoral;
}

#back-arrow img {
    float: left;
    height: 4vh;
}
#nameHeader {
    margin: auto;
    color: white;
    font-size: 2vh;
}

#navBar nav {
    margin: 0;
    padding: 0;
}

#navBar nav ul {
    margin: auto;
    display: flex;
    justify-content: center;
}

#navBar nav ul li {
    display: inline-block;
    font-size: 1.66vh;
    font-weight: bold;
    margin: 0 1vw;
}

ul, a {
    text-decoration: 0;
}


#contact-icon {
    background-color: transparent;
    margin: 0 2px;
}


#icons {
    margin: auto;
    display: flex;
    align-items: center;
}

#github-icon {
    height: 4.62962962962963vh;
    width: 2.60416666666667vw;
}

#linkedin-icon, #contact-icon {
    height: 3.7037037037037vh;
    width: 2.08333333333333vw;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#dropdown-content ul a {
    text-decoration: 0;
}

#dropdown-content li {
    display: inline-block;
}

#dropdown:hover #dropdown-content {
    display: block;
}


/*  ***BODY*** */

.bodyGrid {
    width: 75%;
    position: relative;
    margin: 0 auto;
    top: 9vh;
    display: grid;
    column-gap: 5vw;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas: "elm1 elm2"
                         "elm3 elm4"

}

#item1 {
    grid-area: elm1;
    overflow: visible;
}

#item1 #header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: right;
    height: 12.96296296296296vh;
    margin: 0;
    top: 10
}

#item1 h1 {
    font-size: 8vh;
    color: #C8C372;
}

#item1 img{
    height: 12.96296296296296vh;
}

#item1 p{
    font-weight: bolder;
    font-size: 2.5vh;
    color: #1E4D2B;
}


#item2 {
    grid-area: elm2;
}


#item3 {
    grid-area: elm3;
}
#item4 {
    grid-area: elm4;
}

.content-table {
    border-collapse: collapse;
    margin: 25px auto 25px 5px;
    font-size: .9em;
    min-width: 400px;
    border-radius: 5px 5x 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.content-table thead tr { 
    background-color: #1E4D2B;
    color: white;
    text-align: left;
    font-weight: bold;
}

tr.innerHeader {
    color: #C8C372;
}

.content-table th, .content-table td {
    padding: 12px 15px;
}

.content-table tr, tbody {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #1E4D2B;
}