/* TODO: CENTER TABLE ON EACH PAGE */

html {
    background: linear-gradient(90deg,#C9D6FF,#E2E2E2);
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
header {
    width: 100%;
    background-color: lightcoral;
    margin: 10px;
}
.innerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-color: lightcoral;
}

#nameHeader {
    margin: 0;
    color: white;
}

nav {
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}
a {
    text-decoration: 0;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: .9em;
    min-width: 400px;
    border-radius: 5px 5x 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr { 
    background-color: #0000CD;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td {
    padding: 12px 15px;
}

.content-table tr, tbody {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #0000CD;
}

.bodyTable {
    margin: 0 auto;
}

