/* ***TODO:*** */
/* -Add About Me Page */
/* -Add Projects Page? */
/* -Add Media Query for smaller screens, place grid gap */
/* -Remove emphasis italicizing in introText */

/*   ***DOCUMENT***   */

html {
    background: linear-gradient(90deg,#C9D6FF,#E2E2E2);
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
html, body {
    margin: 0px;
    padding: 0px;
}

/*   ***HEADER*** */

header {
    background-color: lightcoral;
    margin: 10px;
}

nav {
    margin: 0;
    padding: 0;
}
.innerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-color: lightcoral;
}

#nameHeader {
    margin: 0;
    color: white;
}

li {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}
a {
    text-decoration: 0;
}

/*  ***BODY*** */

.bodyGrid {
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". introPic introText .";

}

#item1 {
    grid-area: introPic;
}

#item1 img {
    border: 2px solid lightcoral;
}

#item2 {
    grid-area: introText;
}
