/* ***TODO:*** */
/* -Add About Me Page */
/* -Add Projects Page? */
/* -Add Media Query for smaller screens, place grid gap */
/* -Remove emphasis italicizing in introText */

/*   ***DOCUMENT***   */

html {
    background: linear-gradient(90deg,#C9D6FF,#E2E2E2);
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
html, body {
    margin: 0px;
    padding: 0px;
}

/*   ***HEADER*** */

/* Potentially make margin variable here? */



header {
    background-color: lightcoral;
    margin: .92592592592593vh .92592592592593vh 0 .92592592592593vh;
    height: 6.5vh;
}

.innerHeader {
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60vw;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: lightcoral;
}

#nameHeader {
    margin: auto;
    color: white;
    font-size: 2.96296296296296vh;
}

#navBar nav {
    margin: 0;
    padding: 0;
}

#navBar nav ul {
    margin: auto;
    display: flex;
    justify-content: center;
}

#navBar nav ul li {
    display: inline-block;
    font-size: 1.66vh;
    font-weight: bold;
    margin: 0 1vw;
}

ul, a {
    text-decoration: 0;
}


#contact-icon {
    background-color: transparent;
    margin: 0 2px;
}


#icons {
    margin: auto;
    display: flex;
    align-items: center;
}

#github-icon {
    height: 4.62962962962963vh;
    width: 2.60416666666667vw;
}

#linkedin-icon, #contact-icon {
    height: 3.7037037037037vh;
    width: 2.08333333333333vw;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#dropdown-content ul a {
    text-decoration: 0;
}

#dropdown-content li {
    display: inline-block;
}

#dropdown:hover #dropdown-content {
    display: block;
}

/*  ***BODY*** */

#bodyWrapper{
    position: relative;
}

.bodyGrid {
    width: 100%;
    /*
    position: relative;
    top: 9vh;
    */
    display: grid;
    column-gap: 3vw;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-areas: ". introPic introText .";
    grid-auto-columns: minmax(50px,auto);

}

#item1 {
    grid-area: introPic;
}

#item1 #outterWrapper {
    height: 92.5vh;
    display: flex;
    justify-content: center;
    background-color: #e5c4a3;
}

#picWrapper img{
    left:12%;
    object-fit: contain;
    max-width: 70%;
    max-height: 100%;
    position: relative;
    top: 10vh;
    border: 2px solid lightcoral;
}


#item2 {
    grid-area: introText;
}

#outterWrapper2 {
    font-size: 2vh;
    position: relative;
    top: 10vh;
    background-color: #e5c4a3;
    padding: 5vh 5vw;
}

#decoration1{
    background-color: #a6c6c1;
    height: 35vh;
    width: 4vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

#decoration2{
    height: 22vh;
    width: 4vw;
    position: absolute;
    background-color: #e6e0cf;
    bottom: 0;
    left: 12vh;
}

#decoration3{
    height: 10vh;
    width: 12vw;
    position: absolute;
    top: 0;
    right: .92592592592593vh;
    background-color: #debfb5;

}